.jfx-button{
    -fx-background-color:-fx-background-color
}

.jfxTextField{
    -fx-background-color:#fafafa;
}

.anchorPaneMainWindow {

}


.borderPaneMainWindow{

}

.label{
    -fx-background-color: #1b75bc;
    -fx-font: 14px "Roboto";
    -fx-text-fill: white;
}