.jfx-button{
    -fx-background-color:-fx-background-color
}

.jfxTextField{
    -fx-background-color:#fafafa;
}
.jfxTextField:focused{
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}


.label{
    -fx-background-color: #1b75bc;
    -fx-font: 14px "Roboto";
    -fx-text-fill: white;
}
