
.list-cell:odd{
    -fx-background-color: white;
}
.list-cell:even{
    -fx-background-color: white;
}

list-cell:filled:selected {
    -fx-background-color: -fx-background ;
    -fx-background-insets: 0 ;
}

.jfx-list-view{ -fx-background-insets: 0; -fx-padding: 0; }